# Job 1 - SELECT : Ma première requête

## Pourquoi apprendre ça ?

C'est la base de tout. SELECT, c'est comment tu demandes à la base de données de te montrer des données. Si tu peux faire SELECT, tu peux déjà faire beaucoup de choses utiles.

**Durée** : ~5 min  
**Niveau** : Rien à savoir d'avance

## Setup - Les outils qu'on va utiliser

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print('OK prêt')

## Créer une table

D'abord, on a besoin de données. Imagine ça comme un tableau Excel, mais en plus puissant.

In [ ]:
cursor.execute('''
CREATE TABLE employes (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    fonction TEXT,
    salaire INTEGER
)
''')

cursor.executemany('''
INSERT INTO employes (nom, fonction, salaire)
VALUES (?, ?, ?)
''', [
    ('Alice', 'Dev', 3000),
    ('Bob', 'Manager', 4000),
    ('Charlie', 'Dev', 3200),
    ('Diana', 'Design', 2800)
])

conn.commit()
print('Table créée avec 4 employés')

## La requête SELECT la plus simple

Pour voir TOUT, on utilise `*` (l'astérisque) qui veut dire "toutes les colonnes".

In [ ]:
cursor.execute('SELECT * FROM employes')
resultats = cursor.fetchall()

for employe in resultats:
    print(employe)

## Mais c'est moche. Affichons ça mieux :

In [ ]:
df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print(df)

## Maintenant à toi !

1. Modifie la requête pour voir seulement le nom et la fonction
2. Essaie d'ajouter un employé et refais la requête
3. Comment tu ferais pour voir seulement les devs ?