# Job 2 - WHERE : Filtrer les données

## Le problème

SELECT *, c'est cool mais tu veux souvent juste les données qui t'intéressent. Genre : "Je veux juste les devs" ou "Les gens qui gagnent plus de 3000€".

**Durée** : ~5 min  
**Prérequis** : Job 1

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE employes (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    fonction TEXT,
    salaire INTEGER
)
''')

cursor.executemany('''
INSERT INTO employes (nom, fonction, salaire)
VALUES (?, ?, ?)
''', [
    ('Alice', 'Dev', 3000),
    ('Bob', 'Manager', 4000),
    ('Charlie', 'Dev', 3200),
    ('Diana', 'Design', 2800)
])

conn.commit()
print('Données prêtes')

## Trouver juste les devs

La clause WHERE t'aide à dire "Je veux SEULEMENT les lignes où...".

In [ ]:
cursor.execute('SELECT * FROM employes WHERE fonction = "Dev"')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print('Les devs:')
print(df)

## Les gens qui gagnent 3000 ou plus

In [ ]:
cursor.execute('SELECT * FROM employes WHERE salaire >= 3000')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print('Salaire >= 3000:')
print(df)

## Combinaisons : Les devs qui gagnent au moins 3100

In [ ]:
cursor.execute('''
SELECT * FROM employes 
WHERE fonction = "Dev" AND salaire >= 3100
''')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print('Devs avec salaire >= 3100:')
print(df)

## À toi de jouer

1. Trouve tous les gens qui NE sont pas des devs
2. Trouve les gens dont le salaire est < 3000
3. Combine : Design OU Dev

*Hint: Utilise NOT, AND, OR*