# Job 3 - ORDER BY : Trier les données

## Pourquoi ?

Quand tu as des données, tu veux souvent les trier. Par nom, par salaire (qui gagne le plus?), par date, etc.

**Durée** : ~5 min  
**Prérequis** : Job 1, 2

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE employes (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    fonction TEXT,
    salaire INTEGER
)
''')

cursor.executemany('''
INSERT INTO employes (nom, fonction, salaire)
VALUES (?, ?, ?)
''', [
    ('Alice', 'Dev', 3000),
    ('Bob', 'Manager', 4000),
    ('Charlie', 'Dev', 3200),
    ('Diana', 'Design', 2800)
])

conn.commit()
print('Data ready')

## Trier par salaire (du plus bas au plus haut)

In [ ]:
cursor.execute('SELECT * FROM employes ORDER BY salaire ASC')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print('Du moins payé au plus payé:')
print(df)

## Trier par salaire (du plus haut au plus bas)

In [ ]:
cursor.execute('SELECT * FROM employes ORDER BY salaire DESC')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print('Du plus payé au moins payé:')
print(df)

## Trier par nom (alphabétique)

In [ ]:
cursor.execute('SELECT * FROM employes ORDER BY nom ASC')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print('Par ordre alphabétique:')
print(df)

## Tri complexe : D'abord par fonction, puis par salaire

In [ ]:
cursor.execute('SELECT * FROM employes ORDER BY fonction ASC, salaire DESC')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Fonction', 'Salaire'])
print('Par fonction, puis par salaire (décroissant):')
print(df)

## À toi

1. Trie par fonction inversé (Z à A)
2. Combine WHERE et ORDER BY : Les devs triés par salaire
3. Inverse l'ordre par nom (Z à A)