# Job 4 - COUNT / SUM / AVG : Les calculs

## L'idée

Parfois tu veux pas voir les détails. Tu veux juste des chiffres :
- Combien de gens travaillent ici ?
- Quel est le salaire total ?
- Quel est le salaire moyen ?

**Durée** : ~5 min

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE employes (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    fonction TEXT,
    salaire INTEGER
)
''')

cursor.executemany('''
INSERT INTO employes (nom, fonction, salaire)
VALUES (?, ?, ?)
''', [
    ('Alice', 'Dev', 3000),
    ('Bob', 'Manager', 4000),
    ('Charlie', 'Dev', 3200),
    ('Diana', 'Design', 2800)
])

conn.commit()

## Combien de gens ?

In [ ]:
cursor.execute('SELECT COUNT(*) FROM employes')
result = cursor.fetchone()
print(f'Nombre total d\'employés: {result[0]}')

## Quel est le salaire total ?

In [ ]:
cursor.execute('SELECT SUM(salaire) FROM employes')
result = cursor.fetchone()
print(f'Salaire total: {result[0]} euros')

## Salaire moyen ?

In [ ]:
cursor.execute('SELECT AVG(salaire) FROM employes')
result = cursor.fetchone()
print(f'Salaire moyen: {result[0]:.2f} euros')

## Salaire le plus haut ? Le plus bas ?

In [ ]:
cursor.execute('SELECT MAX(salaire), MIN(salaire) FROM employes')
result = cursor.fetchone()
print(f'Max: {result[0]}, Min: {result[1]}')

## Combine avec WHERE : Stats des devs seulement

In [ ]:
cursor.execute('SELECT COUNT(*), AVG(salaire) FROM employes WHERE fonction = "Dev"')
result = cursor.fetchone()
print(f'Nombre de devs: {result[0]}')
print(f'Salaire moyen dev: {result[1]:.2f}€')

## À toi

1. Compte combien de gens gagnent plus de 3000
2. Salaire total des designers
3. Salaire min des devs