# Job 6 - JOIN : Combiner les tables

## Pourquoi ?

Dans le vrai monde, les données sont partout. Une table pour les employés, une table pour les départements, une table pour les projets.

JOIN c'est comment tu dit "Montre-moi les employés AVEC leur département".

**Durée** : ~7 min

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE employes (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    dept_id INTEGER
)
''')

cursor.execute('''
CREATE TABLE departements (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    chef TEXT
)
''')

cursor.executemany('INSERT INTO departements VALUES (?, ?, ?)', [
    (1, 'Dev', 'Alice'),
    (2, 'Design', 'Bob')
])

cursor.executemany('INSERT INTO employes VALUES (?, ?, ?)', [
    (1, 'Charlie', 1),
    (2, 'Diana', 1),
    (3, 'Eve', 2)
])

conn.commit()
print('2 tables créées')

## Sans JOIN : C'est galère

In [ ]:
# Tu dois faire 2 requêtes
cursor.execute('SELECT * FROM employes')
employes = cursor.fetchall()

cursor.execute('SELECT * FROM departements')
deps = cursor.fetchall()

print('Employés:', employes)
print('Départements:', deps)
print('\n=> Pas facile à matcher manuellement!')

## Avec JOIN : C'est magique

In [ ]:
cursor.execute('''
SELECT e.nom as employe, d.nom as departement
FROM employes e
JOIN departements d ON e.dept_id = d.id
''')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['Employé', 'Département'])
print('Employés avec leur département:')
print(df)

## Ajoute le chef

In [ ]:
cursor.execute('''
SELECT e.nom as employe, d.nom as departement, d.chef
FROM employes e
JOIN departements d ON e.dept_id = d.id
''')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['Employé', 'Département', 'Chef'])
print('Avec le chef du département:')
print(df)

## À toi

1. Ajoute un département "Marketing" avec un chef
2. Ajoute un employé au marketing
3. Refais le JOIN
4. Essaie un LEFT JOIN (pour voir les départements même sans employés)