# Job 7 - LIMIT et OFFSET : Pagination

## Le problème

Quand tu as 1 million de lignes, tu veux pas tout afficher. Tu veux les 10 premiers, puis les 10 suivants, etc.

LIMIT te dit combien de résultats tu veux.  
OFFSET te dit par où commencer.

**Durée** : ~5 min

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE produits (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    prix INTEGER
)
''')

# Insérer 20 produits
for i in range(1, 21):
    cursor.execute('INSERT INTO produits (nom, prix) VALUES (?, ?)',
                   (f'Produit {i}', i * 100))

conn.commit()
print('20 produits créés')

## Les 5 premiers

In [ ]:
cursor.execute('SELECT * FROM produits LIMIT 5')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Prix'])
print('Les 5 premiers produits:')
print(df)

## Les 5 suivants (page 2)

In [ ]:
cursor.execute('SELECT * FROM produits LIMIT 5 OFFSET 5')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Prix'])
print('Les produits 6-10:')
print(df)

## Page 3

In [ ]:
cursor.execute('SELECT * FROM produits LIMIT 5 OFFSET 10')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Prix'])
print('Produits 11-15:')
print(df)

## Combine avec ORDER BY : Les 3 plus chers

In [ ]:
cursor.execute('SELECT * FROM produits ORDER BY prix DESC LIMIT 3')
resultats = cursor.fetchall()

df = pd.DataFrame(resultats, columns=['ID', 'Nom', 'Prix'])
print('Les 3 produits les plus chers:')
print(df)

## À toi

1. Récupère les produits 5-7
2. Les 5 moins chers (tri inverse + LIMIT)
3. Écris une fonction pour afficher une "page" (page 1, 2, 3, etc.)

*Hint: offset = (page - 1) * items_per_page*