# Job 8 - INSERT, UPDATE, DELETE : Modifier les données

## Jusqu'à présent...

On a juste LU les données (SELECT). Maintenant on va les MODIFIER.

- INSERT : Ajouter une ligne
- UPDATE : Modifier une ligne
- DELETE : Supprimer une ligne

**Durée** : ~7 min

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE employes (
    id INTEGER PRIMARY KEY,
    nom TEXT,
    salaire INTEGER,
    actif INTEGER
)
''')

cursor.executemany('''
INSERT INTO employes (nom, salaire, actif)
VALUES (?, ?, ?)
''', [
    ('Alice', 3000, 1),
    ('Bob', 4000, 1),
    ('Charlie', 3200, 0)
])

conn.commit()
print('Table créée avec 3 employés')

## INSERT : Ajouter un employé

In [ ]:
cursor.execute('''
INSERT INTO employes (nom, salaire, actif)
VALUES (?, ?, ?)
''', ('Diana', 2800, 1))

conn.commit()
print('Diana ajoutée')

# Vérifier
cursor.execute('SELECT * FROM employes')
df = pd.DataFrame(cursor.fetchall(), columns=['ID', 'Nom', 'Salaire', 'Actif'])
print(df)

## UPDATE : Augmenter le salaire d'Alice

In [ ]:
cursor.execute('UPDATE employes SET salaire = 3500 WHERE nom = "Alice"')
conn.commit()
print('Alice a une augmentation')

# Vérifier
cursor.execute('SELECT * FROM employes WHERE nom = "Alice"')
result = cursor.fetchone()
print(f'Alice: {result[1]}, Salaire: {result[2]}')

## UPDATE : Augmenter TOUS les salaires de 5%

In [ ]:
cursor.execute('UPDATE employes SET salaire = salaire * 1.05')
conn.commit()
print('Tout le monde a une augmentation de 5%')

# Vérifier
cursor.execute('SELECT * FROM employes')
df = pd.DataFrame(cursor.fetchall(), columns=['ID', 'Nom', 'Salaire', 'Actif'])
print(df)

## DELETE : Supprimer les inactifs

In [ ]:
cursor.execute('DELETE FROM employes WHERE actif = 0')
conn.commit()
print('Employés inactifs supprimés')

# Vérifier
cursor.execute('SELECT * FROM employes')
df = pd.DataFrame(cursor.fetchall(), columns=['ID', 'Nom', 'Salaire', 'Actif'])
print('Qui reste:')
print(df)

## À toi

1. Ajoute 3 nouveaux employés
2. Augmente le salaire des gens qui gagnent moins de 3500
3. Supprime les employés dont le nom commence par 'C'

*Attention: Si tu fais DELETE sans WHERE, tu supprimes TOUT!*